<h2>Login</h2>

  <div class= "homepage-image">
    <img class = "image1" src="/images/Vatican.jpg">
  </div>

  <div class= "banner">
    <p> Welcome to TECH-BLOG, a website dedicated to providing tips and tricks to tech conundrums</p>
    <ul>
      <li> JAVASCRIPT </li>
      <li> HTML </li>
      <li> CSS </li>
      <li> API </li>
      <li> EXPRESS </li>
    </ul>
  </div>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>


<div> 
  <button class="btn btn-primary" type="submit"> Sign up </button>
</div>

<script src="/js/login.js"></script>
