
  <div class= "homepage-image">
    <img class = "image1" src="/images/Vatican.jpg">
  </div>

  <div class= "banner">
    <p> Welcome to TECH-BLOG, a website dedicated to providing tips and tricks to tech conundrums</p>
    <ul>
      <li> JAVASCRIPT </li>
      <li> HTML </li>
      <li> CSS </li>
      <li> API </li>
      <li> EXPRESS </li>
    </ul>
  </div>
{{textExample}}
{{#each blogpostsData as |blogpost|}}
<div>
  <h2>
    Title 1
  </h2>
  <p>
    Description 1
  </p>
</div>
{{/each}}

