
  <div class= "homepage-image">
    <img class = "image1" src="/images/Vatican.jpg">
  </div>

  <div class= "banner">
    <p> Welcome to TECH-BLOG, a website dedicated to providing tips and tricks to tech conundrums</p>
    <ul>
      <li> JAVASCRIPT </li>
      <li> HTML </li>
      <li> CSS </li>
      <li> API </li>
      <li> EXPRESS </li>
    </ul>
  </div>


</div>
      <button class="btn" id="login"> Login</button>
</div>

<script src="/js/standby.js"></script>
